*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    background: rgba(0,0,0,0.7);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .logo img{
 height: 30px;

}
.navbar .logo a{
     text-decoration: none;
     color: aliceblue;

}
.navbar ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    margin-left:20px;
}

.navbar ul li a {
  color: aliceblue;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

.navbar ul li a:hover {
  background-color: aliceblue;
  color: black;
}


.search-box {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

